body {
    display: flex;
    background-image: url(images/background.jpg);
}
.login-box {
    height: 90%;
    width: 90%;
    margin: 5%;
    display: flex;
    background-color: 96c5fd;
    border: solid #a7c5eb;
    flex-wrap: wrap;
}

.login-form {
    width: 50%;
    
}
.login-signup-button{
    display: flex;
    height: 10%;
    justify-content: flex-end;
    margin-top: 20;
    margin-right: 20;
    
}
.button1 {
    border-radius: 100px;
    border: 1px solid #75cfb8;
    border-right: 30px;
    background-color: #1687a7;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-family: Convergence;
    font-size: 45;
}
.email-password{
    margin-top: 35;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
input {
    text-align: center;
    border-radius: 50px;
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px ;
    width: 55%;
}
input:focus{
    outline:none;
    border: 1px solid #4195fc; 
    /* create a BIG glow */
    box-shadow: 0px 0px 14px #4195fc; 
    -moz-box-shadow: 0px 0px 14px #4195fc;
    -webkit-box-shadow: 0px 0px 14px #4195fc; 
}
button:focus{
    outline:none;
    border: 1px solid #4195fc; 
    /* create a BIG glow */
    box-shadow: 0px 0px 14px #4195fc; 
    -moz-box-shadow: 0px 0px 14px #4195fc;
    -webkit-box-shadow: 0px 0px 14px #4195fc; 
}

.button2 {
    border: 1px solid #75cfb8;
    border-radius: 25px;
    width: 15%;
    height: 35px;
    align-content: center;
    margin:10 125;
    background-color: #1687a7;
    color: #FFFFFF;
    
    
}